[Unit]
Description=MTX QUIC Client

[Service]
ExecStart=/usr/local/bin/mtx-client \
  --tls-grpc-ca-cert     /etc/ssl/certs/mtx.ca.cert \
  --tls-grpc-client-key  /etc/ssl/certs/mtx.client.key \
  --tls-grpc-client-cert /etc/ssl/certs/mtx.client.cert \
  --grpc-url             https://mtx-perf-eu-central-1.marinade.finance:50051 \
  --tpu-addr             x.x.x.x \
  --identity             /.../key.json
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
